<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Bookmarks</title>
  </head>
  <body>
    <h2>Hello!</h2>
    <ul>
      <% 10.times do |i| %>
        <li> <%= i %>番目 </li>
      <% end %>
    </ul>
  </body>
</html>
