<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Bookmarks</title>
  </head>
  <body>
    <h2>success!</h2>
    <a href="/list">list</a>
    <br>
    <a href="/">back to main page</a>
  </body>
</html>
